.wrapper {
    display: grid;

    grid-template-columns: 3fr 9fr;
}

.dialogsPreviewWrapper {
    border-right: 1px solid #EDEEF0;
}

.dialogsPreview {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dialogsMessages {
    margin-bottom: 40px;
}
