.wrapper {
    display: grid;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid lightgrey;
    border-radius: 5px;

    grid-template-columns: 20% 80%;
}

.titleValue {
    margin: 0;
    color: #285473;
    font-size: 18px;
}

.titleKey {
    font-weight: bold;

    composes: titleValue;
}

.contactsTitleKey {
    margin: 0 0 10px 10px;

    composes: titleKey;
}

.contactsTitle {
    margin: 0 0 0 20px;
}

.contactsWrapper {
    display: grid;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    border: 2px solid lightgrey;
    border-radius: 5px;

    grid-template-columns: 20% 80%;
}

/*profilePhoto*/
.profilePhotoWrapper {
    display: grid;
    margin-bottom: 10px;
}

.profilePhotoImg {
    margin-bottom: 20px;
    border-radius: 50%;
}

/*edit mode*/
.editModeTitle {
    padding: 5px;
    border: 2px solid lightcoral;
    font-size: 16px;
}

/*button*/
.btn {
    width: 100%;
    margin-bottom: 100px;
    padding: 12px 10px;

    composes: commonBtn from "../../index.css";
}

/*redirect to loginPage*/
.redirectToLoginPage {
    composes: redirectToLoginPage from '../../index.css';
}
