.wrapper {
    display: grid;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid lightgrey;
    border-radius: 5px;

    grid-template-columns: 20% 80%;
}

.titleValue {
    margin: 0;
    color: #285473;
    font-size: 18px;
}

.titleKey {
    font-weight: bold;

    composes: titleValue;
}

.contactsTitleKey {
    margin: 0 0 10px 10px;

    composes: titleKey;
}

.contactsTitle {
    margin: 0 0 0 20px;
}

.contactsWrapper {
    display: grid;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    border: 2px solid lightgrey;
    border-radius: 5px;

    grid-template-columns: 20% 80%;
}

/*profilePhoto*/
.profilePhotoWrapper {
    display: grid;
    margin-bottom: 10px;
}

.profilePhotoImg {
    margin-bottom: 20px;
    border-radius: 50%;
}

/*edit mode*/
.editModeTitle {
    padding: 5px;
    border: 2px solid lightcoral;
    font-size: 16px;
}

/*go to login*/
.goToLogin {
    display: block;
    text-align: center;
    color: #285473;
    font-size: 24px;
    font-weight: 100;
}

.goToLogin:hover {
    text-decoration: none;
}

/*button*/
.btn {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 100px;
    padding: 12px 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #4a76a8;
    font-size: 16px;
}

.btn:hover {
    background-color: #425884;
}
