.title {
    font-size: 160px;
    margin: 0;
    font-weight: bold;
}

.desc {
    font-size: 68px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    color: #285473;
    margin: 0;
}