.title {
    margin: 0;
    font-size: 160px;
    font-weight: bold;
}

.desc {
    margin: 0 0 20px 0;
    text-align: center;
    text-transform: uppercase;
    color: #285473;
    font-size: 68px;
    font-weight: 100;
}

/*redirect to loginPage*/
.redirectToLoginPage {
    composes: redirectToLoginPage from '../../index.css';
}
