.newPost {
    margin-bottom: 50px;
}

.newPostTextarea {
    width: 100%;
    height: 80px;
    border: 2px solid #285473;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 14px;
}

.newPostBtn {
    display: block;
    background-color: #DFE6ED;
    color: #55677d;
    border: none;
    padding: 10px 80px;
    font-size: 14px;
    margin-left: auto;
    margin-right: 0;
}

.newPostBtn:hover {
    background-color: #d3dae1;
    cursor: pointer;
}
