.link {
    text-decoration: none;
    text-transform: capitalize;
    color: #285473;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.name {
    width: 100%;
    margin: 0 0 10px 0;
}

/*button*/
.sendBtn {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;

    composes: commonBtn from "../../../index.css";
}

.followBtn {
    margin-bottom: 10px;
    background-color: #618fd1;

    composes: sendBtn;
}
