.dialogsLink {
    padding: 10px;
    border-bottom: 1px solid #EDEEF0;
    display: grid;
    grid-template-columns: 3fr 9fr;
    color: black;
    text-decoration: none;
}

.dialogsLink:hover {
    background-color: #F5F7FA;
    cursor: pointer;
}

.dialogsLinkActive {
    background-color: #5B88BD;
    color: white;
}

.dialogsLinkActive:hover {
    background-color: #5B88BD;
    color: white;
}

.dialogsPhoto {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}
