.wrapper {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 20px;
}

.contactsWrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}

.infoKey {
    border: 2px solid lightgrey;
    margin: 10px;
    padding: 10px;
}

.infoValue {
    border: 2px solid lightgrey;
    margin: 10px;
    padding: 10px;
}

.editMode {
    border: 2px solid lightcoral;
    margin: 10px;
    padding: 10px;
}

.editModeContacts {
    border: 2px solid lightcoral;
    margin: 5px;
    padding: 10px;
}

.btn {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #4a76a8;
    font-size: 16px;
    line-height: 24px;
}

.btn:hover {
    background-color: #425884;
}