.header {
    display: grid;
    align-items: center;
    background-color: #4a76a8;

    grid-area: header;
    grid-template-columns: 9fr 3fr;
}

.logo {
    width: 60px;
    padding: 10px;
}

.info {
    display: grid;
    align-items: center;

    grid-template-columns: 5fr 1fr 6fr;
}

.userName {
    color: white;
    font-size: 22px;
}

.imgWrapper {
    position: relative;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logOutBtn {
    margin: 5px 18px;
    padding: 7px 10px;
    color: black;
    border: none;
    background-color: white;
}

.logOutBtn:hover {
    cursor: pointer;
    background-color: lightgrey;
}
