.nav {
    margin-bottom: 50px;
    background-color: #edeef0;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link {
    display: block;
    padding: 10px 10px 10px 20px;
    text-decoration: none;
    color: #285473;
}

.link:hover {
    background-color: #e1e5eb;
}

.activeLink {
    background-color: rgba(74, 118, 168, 0.27);
}

.activeLink:hover {
    background-color: rgba(74, 118, 168, 0.27);
}


