.wrapper {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #285473;
    border-radius: 10px;
}

.statusError {
    margin: 10px;
    padding: 15px;
    color: white;
    background-color: red;
    border-radius: 5px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}

.fieldWrapper {
    margin: 20px 10px;
}

.fieldLabel {
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #285473;
    font-size: 14px;
    line-height: 30px;
}

.fieldCheckboxLabel {
    text-transform: uppercase;
    color: #285473;
    font-size: 14px;
    line-height: 18px;
}

.fieldInput {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    color: #285473;
    border: 2px solid #e1e5eb;
    border-radius: 5px;
    outline-color: #e1e5eb;
    font-size: 16px;
    line-height: 24px;
}

.btn {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #4a76a8;
    font-size: 16px;
    line-height: 24px;
}


