.app-wrapper {
  display: grid;
  width: 1280px;
  margin: 0 auto;

  grid-gap: 10px;
  grid-template-areas: "header header" "sidebar main-content";
  grid-template-columns: 20% 80%;
  grid-template-rows: 80px 1fr;
}

.app-wrapper__content {
  background-color: #edeef0;

  grid-area: main-content;
}


.sidebar {
  grid-area: sidebar;
}