.app-wrapper {
    width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "header header" "nav main-content";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}
