.wrapper {
    display: grid;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid lightgrey;
    border-radius: 5px;

    grid-template-columns: 20% 80%;
}

.titleValue {
    margin: 0;
    color: #285473;
    font-size: 18px;
}

.titleKey {
    font-weight: bold;

    composes: titleValue;
}

.contactsTitleKey {
    margin: 0 0 10px 10px;

    composes: titleKey;
}

.contactsWrapper {
    display: grid;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    border: 2px solid lightgrey;
    border-radius: 5px;

    grid-template-columns: 20% 80%;
}

.contactsTitle {
    margin: 0 0 0 20px;
}
