.wrapper {
    composes: wrapper from "../Profile/Profile.module.css";
}

.titleValue {
    composes: titleValue from "../Profile/Profile.module.css";
}

.titleKey {
    composes: titleKey from "../Profile/Profile.module.css";
}

.contactsTitleKey {
    composes: contactsTitleKey from "../Profile/Profile.module.css";
}

.contactsWrapper {
    composes: contactsWrapper from "../Profile/Profile.module.css";
}

.contactsTitle {
    composes: contactsTitle from "../Profile/Profile.module.css";
}
