.counter {
    position: absolute;
    top: -11px;
    right: -11px;
    width: 19px;
    height: 19px;
    padding: 5px;
    text-align: center;
    color: white;
    border-radius: 50%;
    background-color: mediumvioletred;
    font-size: 14px;
    line-height: 19px;
}
