.wrapper {
    display: grid;

    grid-template-columns: 3fr 9fr;
}

.dialogsWrapper {
    border-right: 1px solid #edeef0;
}

.messagesWrapper {
    padding: 0 20px;
}

.dialog {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #edeef0;
    font-size: 16px;
}

.dialog:hover {
    cursor: pointer;
    background-color: #f5f7fa;
}

.currentDialog {
    margin: 0;
    padding: 10px;
    color: white;
    background-color: #5b88bd;
    font-size: 16px;
}

.currentDialog:hover {
    background-color: #5b88bd;
}

.newMessagesLabel {
    color: red;
    font-weight: bold;
}

/*Owner*/
.ownerMessagesWrapper {
    display: grid;
    align-items: center;
    margin-bottom: 20px;

    grid-column-gap: 10px;
    grid-template-columns: 11fr 1fr;
}

.ownerMessagesContent {
    position: relative;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f0f4f8;
}

.deleteOwnerMessage {
    position: absolute;
    top: 43px;
    left: 0;
    content: "";
    color: #5b88bd;
    border: none;
    background-color: transparent;
    font-size: 12px;
}

.deleteOwnerMessage:hover {
    cursor: pointer;
    color: #425884;
}

/*User*/
.userMessagesWrapper {
    composes: ownerMessagesWrapper;
    grid-template-columns: 1fr 11fr;
}

.userMessagesContent {
    background-color: #f7f9fc;

    composes: ownerMessagesContent;
}

.deleteUserMessage {
    right: 0;
    left: auto;

    composes: deleteOwnerMessage;
}

/*common*/
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.name {
    margin: 0;
    padding: 0;
    color: #425884;
    font-size: 12px;
    font-weight: bold;
}

/*add messages*/
.addMessagesWrapper {
    display: grid;

    grid-column-start: 2;
    grid-template-columns: 10fr 2fr;
}

.addMessagesField {
    box-sizing: border-box;
    height: 52px;
    margin-right: 20px;
    padding: 15px;
    border: 2px solid #d3dae1;
    font-size: 14px;
}

.addMessagesBtn {
    composes: commonBtn from '../../index.css';
}
